@import url('../src/assets/css/fontawesome.css');
@import url('../src/assets/css/main.css');

.swiper-wrapper {
  height: auto;
  
}
.swiper-pagination {
  position: unset !important;
  margin-top: 20px;
}



